pkgbase = bitwig-studio
	pkgdesc = Music production system for production, remixing and performance.
	pkgver = 3.0
	pkgrel = 1
	url = http://www.bitwig.com
	arch = x86_64
	license = custom
	depends = jack
	depends = xdg-utils
	depends = zenity
	depends = xcb-util-wm
	depends = libbsd
	optdepends = alsa-lib
	optdepends = oss
	optdepends = libav: MP3 support
	provides = bitwig-studio
	conflicts = bitwig-studio-demo-rc
	conflicts = bitwig-studio-demo
	conflicts = bitwig-8-track
	options = !strip
	source = https://downloads.bitwig.com/stable/3.0/bitwig-studio-3.0.deb
	md5sums = 65782a4f9d4d6425c2be57440580eb2a

pkgname = bitwig-studio

