pkgbase = bitwig-studio
	pkgdesc = Music production system for production, remixing and performance.
	pkgver = 3.3
	pkgrel = 1
	url = http://www.bitwig.com
	arch = x86_64
	license = custom
	depends = jack
	depends = xdg-utils
	depends = zenity
	depends = xcb-util-wm
	depends = libbsd
	optdepends = alsa-lib
	optdepends = oss
	optdepends = libav: MP3 support
	provides = bitwig-studio
	conflicts = bitwig-studio-demo-rc
	conflicts = bitwig-studio-demo
	conflicts = bitwig-8-track
	options = !strip
	source = https://downloads.bitwig.com/secure/beta/3.3/bitwig-studio-3.3beta2.deb
	md5sums = 1abfccdb1c9c52a691e8cb4adb9b4d1d

pkgname = bitwig-studio

